body{
    background-color:black;
}

h1, h2{
    font-weight: bold;
}

.header{
    margin-top: 3px;
}

.header-page{
    text-align: center;
    margin-bottom: -6px;
}

.header-acciones{
    text-align: center;
}

.jugadores.turno-actual {
    box-shadow: 4px 4px #00c9d1; 
    color: #00c9d1;
}

.info{
    margin-bottom: 0px;
}

#info-ganador, #info-empate{
    width: 100%;
}

.mensaje-ganador{
    text-align: center;
    margin-top: 5px;
}

#tablero{
    cursor: pointer;
    margin-left: 5px;
}

.oculto {
    display: none;
}

#botonComenzar,#botonRetry{
    background-color: red;
}

#boxRoja{
    background-color: #CE4545;
    border-radius: 15px;
    padding-bottom: 15px;
    width: 1100;
}

#turnoBox{
    margin:7px;
}

#turno{
    color: white;
    font-family: fantasy;
}

#J1{
    border: 3px;
    border-radius: 15px;
    padding: 25px;
    background-color: whitesmoke;
    display: grid;
    margin-left: 136px;
}

#J2{
    border: 3px;
    border-radius: 15px;
    padding: 25px;
    background-color: whitesmoke;
    display: grid;
    margin-left: 60px;
}

#nav{
    margin-bottom: 15px;
}


    