#tablero{
    display: flex;
    justify-content: center;
    padding: 15px;
}

#fichasjugador1{
    display:flex;
    justify-content: left;
}

#fichasjugador2{
    display: flex;
    justify-content: right;
    
}

#tablero{
    cursor: pointer;
    margin-left: 5px;
}

