/*FONDO*/
.background{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: flex-end;
    position: relative;
    background: url(/img/BG.png);
    animation: parallax 4.5s linear infinite;
}

.background-stop{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: flex-end;
    position: relative;
    background: url(/img/BG.png);
}

#instrucciones{
    display: grid;
    align-items: flex-start;
    margin-bottom: 500px;
    margin-left: 500px;
}

#instrucciones{
    color: #d48871;
    display: flex;
    align-items: center;
    position: absolute;
}

/*BOTONES*/
.btn.iniciar{
    border-style: double;
    border-width: 0px 0 0px 60px;
}

.btn{
    border:0;
    position: absolute;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    top: 5px;
    left: 15px;
    border-color: transparent transparent transparent #d48871;
    transition: 1000ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
}

.btn:hover{
    border-color: transparent transparent transparent #404040 ;
}

/*SUELOE*/
.suelo{
    width: 1920px;
    height: 42px;
    background: url(/img/kisspng-table-wood-flooring-wood-flooring-hardwood-wooden-floor-5abfa197315c25.2743480715225081832022.png)repeat-x 0px 0px;
    background-size: 1920px 42px;
    animation: movsuelo 4s linear infinite;
}

.suelo-stop{
    width: 1920px;
    height: 42px;
    background: url(/img/kisspng-table-wood-flooring-wood-flooring-hardwood-wooden-floor-5abfa197315c25.2743480715225081832022.png)repeat-x 0px 0px;
    background-size: 1920px 42px;
}

.puntaje{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;
    color: #d48871;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.navbar{
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}

/*PERSONAJE*/
.box-personaje{
    width: 115px;
    height: 150px;
    margin-left: 25px;
    margin-bottom: 0px;
    display: flex;
    position: absolute;
    background: url(/img/stand.png) left center ;
    animation: moveStyleSheet 1s steps(10) infinite;
}

.box-personaje-walk{
    width: 115px;
    height: 150px;
    margin-left: 25px;
    margin-bottom: 0px;
    display: flex;
    position: absolute;
    background: url(/img/walk.png) left center;
    animation: moveStyleSheet 1s steps(10) infinite;
}

.box-personaje-jump{
    width: 115px;
    height: 150px;
    margin-bottom: 80px;
    
    display: flex;
    position: absolute;
    background: url(/img/jump.png) left center;
    animation: jump 1s steps(10) infinite;
}

.box-personaje-slide{
    width: 112px;
    height: 120px;
    margin-left: 25px;
    margin-bottom: 0px;
    display: flex;
    position: absolute;
    background: url(/img/slide.png) left ;
    animation: slide 1s steps(10) infinite;
}

.box-personaje-dead{
    width: 150px;
    height: 120px;
    padding-left: 0;
    margin-left: 25px;
    margin-bottom: 0px;
    display: flex;
    position: absolute;
    background: url(/img/dead.png) left ;
    animation: dead 1s steps(10) 1;
}

/*HONGO*/
.box-hongo{
    width: 49px;
    height: 41px;
    left: 1300px;
    margin-bottom: 0%;
    display: flex;
    position: absolute;
    background-image: url(/img/Mushroom_1.png);
}

.box-hongo-move1{
    width: 49px;
    height: 41px;
    left: 1300px;
    margin-bottom: 0%;
    display: flex;
    position: absolute;
    background-image: url(/img/Mushroom_1.png);
    animation: moverHongo1 4s infinite;
}

.box-hongo-move2{
    width: 49px;
    height: 41px;
    left: 1300px;
    margin-bottom: 0%;
    display: flex;
    position: absolute;
    background-image: url(/img/Mushroom_1.png);
    animation: moverHongo2 4s infinite;
}

/*OBSTACULO*/
.box-obstaculo{
    width: 77px;
    height: 77px;
    position: absolute;
    left: 1300px;
    margin-bottom: 5px;
    display: flex;
    visibility: hidden;
    background: url(/img/Crate.png) no-repeat;
}

.box-obstaculo-move{
    width: 77px;
    height: 77px;
    position: absolute;
    left: 1300px;
    margin-bottom: 5px;
    display: flex;
    background: url(/img/Crate.png) no-repeat;
    animation: moverObstaculo 4s infinite;
}

.box-obstaculo-move-up{
    width: 77px;
    height: 77px;
    position: absolute;
    left: 1300px;
    margin-bottom: 120px;
    display: flex;
    background: url(/img/Crate.png) no-repeat;
    animation: moverObstaculo 4s infinite;
}

/*ANIMACIONES*/
@keyframes moverObstaculo {
    0%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(-1900px);
    }
}

@keyframes moverHongo1 {
    0%{
        transform: translateX(200px) translateY(0px);
    }
    10%{
        transform: translateX(-400px) translateY(-240px);
    }
    20%{
        transform: translateX(-600px) translateY(0px);
    }
    30%{
        transform: translateX(-800px) translateY(-240px);
    }
    40%{
        transform: translateX(-1000px) translateY(0px);
    }
    50%{
        transform: translateX(-1200px) translateY(-240px);
    }
    60%{
        transform: translateX(-1400px) translateY(0px);
    }
    70%{
        transform: translateX(-1600px) translateY(-240px);    
    }
    80%{
        transform: translateX(-1800px) translateY(0px);
    }
    100%{
        transform: translateX(-1900px) translateY(-240px);
    }
}

/*@-webkit-keyframes moverHongo1{
    0% {
        background-position: 0px 0px, 0px 0px;
    }
    100% {
        background-position: 500px 1000px, 500px 500px;
    }
}*/
/*@keyframes moverHongo2 {
    0%{
        background-position: 0px;
    }  
    100%{
        background-position: 500px;
    }
}*/
/*@-webkit-keyframes moverHongo2{
    0% {
        background-position: 0px 0px, 0px 0px;
    }
    100% {
        background-position: 500px 1000px, 500px 500px;
    }
}*/

@keyframes moverHongo2 {
    0%{
        transform: translateX(200px) translateY(-240px);
    }
    10%{
        transform: translateX(-400px) translateY(0);
    }
    20%{
        transform: translateX(-600px) translateY(-240px);
    }
    30%{
        transform: translateX(-800px) translateY(0);
    }
    40%{
        transform: translateX(-1000px) translateY(-240px);
    }
    50%{
        transform: translateX(-1200px) translateY(0);
    }
    60%{
        transform: translateX(-1400px) translateY(-240px);
    }
    70%{
        transform: translateX(-1600px) translateY(0);    
    }
    80%{
        transform: translateX(-1800px) translateY(-240px);
    }
    100%{
        transform: translateX(-1900px) translateY(0px);
    }
}

@keyframes parallax {
    0%{
        background-position: 0px ;
    }
    100%{
        background-position: -1000px  ;
    }
}

@keyframes moveStyleSheet {
    0%{
        background-position: 0px;        
    }
    100%{
        background-position: -1120px;
    }
}

@keyframes jump {
    0%{
        background-position: 0px; transform: translateY(0px);
    }
    50%{
        transform: translateY(-120px);
    }
    100%{
        background-position: -1120px; transform:  translateY(0px)
    }
}

@keyframes parallax {
    0%{
        background-position: 0px ;
    }
    100%{
        background-position: -1000px  ;
    }
}

@keyframes moveStyleSheet {
    0%{
        background-position: 0px;        
    }
    100%{
        background-position: -1120px;
    }
}

@keyframes jump {
    0%{
        background-position: 0px; transform: translateY(0px);
    }
    50%{
        transform: translateY(-120px);
    }
    100%{
        background-position: -1120px; transform:  translateY(0px)
    }
}

@keyframes slide {
    0%{
        background-position: 0px;        
    }
    50%{
        transform: scale(0.87) translateY(5px);
    }
    100%{
        background-position: -1120px;
    }
}

@keyframes dead{
    0%{
        background-position: 0px;
    }
    50%{
        
    }
    100%{
        background-position: -1850px; ;
    }
}

@keyframes movsuelo {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -1920px;
    }
}

/*@keyframes walk {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -1120px;
    }
}

*/



